body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.hamburguer-button {
    display: none;
    width: 70px;
    height: 70px;
}

.menu,
.sub-menu {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
}

.item-menu:hover .sub-menu {
    display: flex;
}

.menu-nav-bar {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: #1d1d1b;
}

.icon-empresa {
    height: 50px;
    padding: 10px 20px;
}


/* Telefones em paisagem e abaixo */

@media (max-width: 480px) {
    /* estilos aqui */
    .hamburguer-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1d1d1b;
        border: none;
    }
    .menu {
        display: none;
    }
}


/* Telefones em paisagem a tablet em retrato */

@media (max-width: 767px) {
    /* estilos aqui */
}


/* Tablet em retrato a paisagem e desktop */

@media (min-width: 768px) and (max-width: 979px) {
    /* estilos aqui */
}


/* Desktop grande */

@media (min-width: 1200px) {
    /* estilos aqui */
}