/*
PALETA
verde:
RGB: 58 170 53
#: 3AAA35

verde amarelo:
RGB: 149 193 31
#: 95C11F

preto claro:
RGB: 29 29 27
#: 1D1D1B
*/

@font-face {
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    src: local('Amaranth Regular'), local('Amaranth-Regular'), url(https://fonts.gstatic.com/s/amaranth/v10/KtkuALODe433f0j1zMnFHdA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(https://fonts.gstatic.com/s/archivoblack/v9/HTxqL289NzCGg4MzN6KJ7eW6CYyF_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(https://fonts.gstatic.com/s/arimo/v13/P5sMzZCDf9_T_10ZxCE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v7/wEO_EBrAnc9BLjLQAUk1VvoK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Bebas Neue';
    font-style: regular;
    font-weight: 400;
    src: url('../resource/font/BebasNeue-Regular.ttf');
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(243, 243, 243);
}

h1 {
    font-family: 'Bebas Neue';
}

p {
    font-family: 'Arimo';
    margin: 0px;
}

footer {
    padding: 20px;
    background-color: #1d1d1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc;
}

footer a {
    color: #ccc;
    cursor: pointer;
}

footer a:hover {
    color: #3AAA35;
    text-decoration: none;
}

.flex {
    display: flex;
}

.logomarca-top {
    width: 150px;
}

.navbar-light {
    background-color: #1d1d1b;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #cccccc;
}

.navbar-collapse {
    justify-content: center;
    flex-grow: unset;
}

.navbar-expand-lg {
    justify-content: space-around;
}

.logo-empresas {
    display: flex;
    flex-wrap: wrap;
    background-color: #1d1d1b;
    justify-content: center;
}

.cor {
    background-color: #00d312;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    margin: 10px;
}

#apresentacao-servicos {
    box-sizing: border-box;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../image/background-gray.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#apresentacao-servicos>h1 {
    border-left: 4px solid #3AAA35;
    border-bottom: 2px solid rgba(167, 167, 167, 0.74);
    padding-left: 5px;
    font-size: 2rem;
    width: 90%;
}

.section-apresentacao-servicos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.box-apresentacao-servicos {
    width: 30vw;
    margin: 10px 10px;
    box-shadow: 1px 1px 10px #1d1d1b;
    overflow: hidden;
}

.box-apresentacao-servicos img {
    width: 100%;
    transition: transform 800ms;
}

.box-apresentacao-servicos h1 {
    position: absolute;
    z-index: 1;
    font-size: 150%;
    text-align: center;
    background-color: #1d1d1b;
    color: #cCC;
    border-bottom: 5px solid #3AAA35;
    padding: 10px;
    margin: 0px;
}

.box-apresentacao-servicos:hover {
    box-shadow: 1px 1px 10px #3AAA35;
}

.box-apresentacao-servicos:hover img {
    transform: scale(1.5) rotate(5deg);
}

.box-apresentacao-servicos:hover h1 {
    color: white;
}

.title {
    border-left: 4px solid #3AAA35;
    border-bottom: 2px solid rgba(167, 167, 167, 0.74);
    padding-left: 5px;
    font-size: 2rem;
    width: 90%;
}

#slider-parceiros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 25px;
}

#section-produtos {
    display: flex;
    justify-content: space-evenly;
    background-image: url(../image/background-black-1.png);
    background-repeat: no-repeat;
    width: 100%;
    padding: 50px 0px;
}

#section-empresa {
    background-image: url(../image/background-gray.png);
    background-repeat: no-repeat;
    padding: 25px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-empresa h1 {
    font-size: 2rem;
    border-bottom: 2px solid #3AAA35;
    text-align: center;
    width: 60%;
}

#section-empresa a {
    color: #3AAA35;
}

#section-empresa a:hover {
    text-decoration: underline;
}

#section-empresa section {
    justify-content: center;
    align-items: center;
}

#section-empresa section img {
    margin: 10px 20px 10px;
    width: 50%;
    height: 100%;
}

#section-empresa p {
    text-indent: 1.5cm;
}

.item-contato {
    display: flex;
    margin: 10px;
}

.item-contato img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#section-contato {
    display: flex;
    width: 100%;
}

#section-contato h1 {
    font-size: 2rem;
    color: #3AAA35;
}

.navbar-collapse {
    justify-content: center;
    flex-grow: unset;
}

#p-desenvolvedor {
    font-size: 0.75rem;
    padding: 10px;
    margin: 10px;
    color: white;
    border-bottom: 1px solid #3aaa35;
    border-top: 1px solid #00d312;
}

.image {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center;
}

#section-parceiros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    height: 85vh;
}

#section-parceiros img {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#section-parceiros-title {
    width: 100%;
    color: #3aaa35;
    padding-left: 20%;
    font-size: 3rem;
    line-height: 6.5rem;
}

#section-parceiros-title p {
    background-image: linear-gradient(to right, #1d1d1bda, #1d1d1b00 90%);
    padding-left: 20px;
    letter-spacing: 0.5rem;
}

#section-parceiros-title p:nth-child(2) {
    margin-left: 40px;
}

#section-parceiros-title p:nth-child(3) {
    margin-left: 80px;
}

#section-parceiros-title span {
    visibility: hidden;
}

#section-parceiros-title p:hover span {
    visibility: visible;
}

.box-style-shadow {
    font-size: 1.5rem;
    width: 80%;
    margin: 50px 0px;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 0px #1d1d1b79;
    border-radius: 10px;
}

.box-style-shadow:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.flex-center-row {
    display: flex;
    justify-content: center;
}

.content-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

#section-parceiros .content-center {
    margin: 20px 0px;
}

.tm-flex-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.box-style-box {
    box-shadow: 0px 0px 50px #1d1d1b0c;
    transition: transform 800ms;
}

.box-style-box:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#section-logomarcas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-logomarcas>h1 {
    border-bottom: 1px solid black;
    padding: 10px 20px;
    background-color: #ffffff;
}

.content-liquid-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-liquid-center-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mg-50 {
    margin: 50px;
}

.section-funcionario {
    width: 70%;
    margin: 20px 0px;
}

.section-funcionario section p {
    text-align: center;
}

.section-funcionario .bar {
    margin: 10px;
    border-bottom: 1px solid #3aaa35;
    height: 1px;
    width: 50px;
    display: none;
}

.section-funcionario>p {
    margin: 0px 50px;
}

.section-funcionario img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

.negrito {
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #1d1d1b;
}

::-webkit-scrollbar-thumb {
    background: #3aaa35;
}


/* Telefones em paisagem a tablet em retrato */

@media (max-width: 768px) {
    /* estilos aqui */
    .box-apresentacao-servicos {
        width: 40vw;
    }
    #section-parceiros-title {
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
    #section-parceiros-title {
        padding: 0px;
        margin-top: 50px;
    }
    .box-style-shadow {
        width: 100%;
    }
    .box-style-shadow p {
        font-size: 1.2rem;
    }
    #section-logomarcas>h1 {
        font-size: 1.5rem;
    }
    .section-funcionario {
        width: 100%;
    }
}


/* Telefones em paisagem e abaixo */

@media (max-width: 480px) {
    /* estilos aqui */
    #section-contato {
        flex-direction: column;
    }
    .box-apresentacao-servicos {
        width: 75%;
    }
    #section-empresa section {
        flex-direction: column;
        align-items: center;
    }
    .section-funcionario .bar {
        display: block;
    }
    .content-liquid-center {
        flex-direction: column;
    }
    .content-liquid-center-reverse {
        flex-direction: column-reverse;
    }
    .section-funcionario>p {
        margin: 0px;
        text-align: center;
    }
}

@media (min-width: 481px) {
    #apresentacao-servicos>h1 {
        font-size: 200%;
    }
    .section-apresentacao-servicos {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #section-empresa section {
        flex-direction: row;
    }
    #section-contato {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}


/* Telefones em paisagem a tablet em retrato a paisagem e desktop */

@media (min-width: 979px) {
    #section-empresa section p {
        font-size: 1.25rem;
        width: 50%;
    }
    #section-empresa section img {
        max-width: 40%;
    }
}

@media (min-width: 1300px) {
    .title {
        font-size: 2rem;
    }
    .section-funcionario p {
        font-size: 1.4rem;
    }
}


/*
~ SE COLOCAR ESSE BLOCO, TERI QUE REPETIR OS CÓDIGOS, VAMOS VER COMO ELES SE COMPORTAM DEIXANDO ATÉ 979

Telefones em paisagem a tablet em retrato 

@media (max-width: 767px) {
    /* estilos aqui 
    
}


/* Tablet em retrato a paisagem e desktop 

@media (min-width: 768px) and (max-width: 979px) {
    /* estilos aqui 
}

*/